.content__column-search{
  max-width: 210px;
  border: 2px;
  border-left: 3px;
  border-right: 3px;
  border-style: solid;
  border-color: #D6D0AB;
  padding: 24px 24px 24px 24px;
  background-color: #F8F4E0;
  margin-left: 16px;
}
.content__form{

}
.content__dash{
  margin: 5px 0;
}
.content__dash-image{
  object-fit: cover;
  max-width: 100%;
  box-sizing: border-box; 
}
.content__input{
  font: bold 13pt Times;
  background-color: white;
  color: #493C2F;
  border: 4px solid #D6D0AB;
  min-width: 200px;
  padding-left: 4px;
}
.content__themes{
  font: bold 17px/21px Times;
  max-width: 200px;
  text-align: center;
}
.content__theme-link{
  font: normal 17px/21px Times;
  text-decoration: none;
  color: #493C2F;
  margin-bottom: 3px;

}
.content__similar-articles{
  font: bold 17px/22.5px Times;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.content__article{
  font: normal 17px/22.5px Times;
  margin: 10px 0;
  color: #493C2F;
}
.content__article:last-child{
  margin: 10px 0 0 0;
}
.content__article-span{
  font-weight: 700;
}
.content__this-day{
  font: bold 17px/22.5px Times;
  text-align: center;
}
.content__city{
  margin: 16px 0;
  text-align: center;
  font: bold 17px/22.5px Times;
}
.content__city-link{
  text-decoration: none;
  color: #493C2F;

}
.content__form-select{
  font: bold 17px Times;
  background-color: white;
  color: #493C2F;
  border: 4px solid #D6D0AB;
  width: 215px;
}
