.content__table-catalog{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font: normal 17px/21px Times;
  margin: 3px 0;    
  width: 100%;
  max-width: 100%;
}

.content__table-link{
  text-decoration: none;
  color: #493C2F;
  font-weight: bold;
}

.link-hover:hover{
  text-decoration-line: underline;
}

.content__table-number{
  position: relative;
  bottom: 5px;
  padding-left: 5px;
  font: normal 12px Arial;
  color: #aaa;
}

.content__table-flag{
  opacity: 0.7;
  width: 16px;
  height: 10px;
}

.content__table-border{
  border: solid 1px #A38F8B;
  width: 16px;
  height: 10px;
  display: flex;
  margin-right: 5px;
  padding: 1px;
  max-width: 100%;
}

.content__table-cell{
  text-align: left;
  position: relative;
  width: 70%;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.content__table-cell:nth-of-type(1){
  text-decoration: none;
  width: 14%;
}

.content__table-cell:nth-of-type(2){
  width: 5%;
}

.content__table-cell:nth-of-type(3){
  width: 1%;
  margin-left: 60px;
}

.content__table-cell:nth-of-type(4){
  text-align: right;
  width: 15%;
  justify-content: flex-end;
}

.RU_843 {
  width: 16px; height: 10px;
  background: url("../../../../../assets/images/css_sprites.png") -46px -40px;
}

.UA_804 {
  width: 16px; height: 10px;
  background: url("../../../../../assets/images/css_sprites.png") -82px -40px;
}

@media screen and (max-width: 980px) {
  .content__table-catalog {
    font: normal 15px/19px Times;
    width:90%;
    margin: 3px 40px;
  }

  .content__table-letter{
    right: 7px;
  }

  .content__table-number{
    font: normal 11px Arial;
  }

  .content__table-cell:nth-of-type(3){
    width: 1%;
    margin-left: 40px;
  }
}

@media screen and (max-width: 840px) {
  .content__table-cell:nth-of-type(2) {
    white-space: wrap;
  }
}

@media screen and (max-width: 740px) {
  .content__table-catalog {
    font: normal 11px/15px Times;
    width: 90%;
    margin: 4px 25px 0 40px;
  }

  .content__table-cell:nth-of-type(3){
    width: 5%;
    margin-left: 15px;
  }

  .content__table-number{
    font: normal 8px Arial;
  }
  .content__table-flag{
    width: 14px;
  }
}

@media screen and (max-width: 580px) {
  .content__table-catalog {
    font: normal 9px/13px Times;
    width: 94%;
  }

  .content__table-cell:nth-of-type(1){
    width: 7%;
  }
  .content__table-cell:nth-of-type(2){
    width: 10%;
  }

  .content__table-cell:nth-of-type(3){
    width: 1%;
    margin-left: 1px;
  }

  .content__table-cell:nth-of-type(4){
    width: 20%;
  }
  .content__table-flag {
    width: 8px;
    height: 4px;
  }

  .content__table-border{
    width: 8px;
    height: 4px;
    margin-right: 3px;
  }

  .content__table-number {
    font: normal 5px Arial;
    padding-left: 2px;
  }

}

@media screen and (max-width: 420px) {
  .content__table-catalog {
    width: 95%;
    font: normal 7px/9px Times;
  }

  .content__table-cell:nth-of-type(2) {
    width: 10%;
  }

  .content__table-cell:nth-of-type(3) {
    margin-left: 5px;
  }

  .content__table-number {
    font: normal 6px Arial;
    padding-left: 1px;
  }

  .content__table-cell_wrap{
    white-space: wrap;
  }

  .content__table-border {
    width: 6px;
  }

  .content__table-flag {
    width: 6px;
  }
}
