.content__column-main{
  max-width: 604px;
  border: 2px;
  border-left: 3px;
  border-right: 3px;
  border-style: solid;
  border-color: #D6D0AB;
  padding: 32px;
  background-color: #F8F4E0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__title{
  font: bold 21px Georgia;
  color: #000;
  -webkit-margin-before: 0;
  -webkit-margin-after: 1em;
  margin: 0;
}

.content__letter-search-list{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 10px;
  margin: 32px 0 0;
  font: normal 17px/21px Times;
}

.content__letter-link{
  text-decoration: none;
  color:#493C2F;
  margin-right: 12px;
}

.content__letter-link:hover{
  text-decoration-line: underline;
}

.content__letter-link:last-child{
  margin-right: 0;
}

@media screen and (max-width: 980px) {
  .content__column-main {
    max-width: 494px;
    padding: 15px;
}
  .content__title{
    font: bold 18px Georgia;
    text-align: center;
  }
}

@media screen and (max-width: 840px) {
  .content__column-main {
      max-width: 423px;
  }
}

@media screen and (max-width: 740px) {
  .content__column-main {
      max-width: 320px;
  }
}

@media screen and (max-width: 580px) {
  .content__column-main {
      max-width: 210px;
      padding: 10px;
  }
  .content__letter-search-list{
    font: normal 13px/17px Times;
  }
}

@media screen and (max-width: 420px) {
  .content__column-main {
      max-width: 165px;
      padding: 10px;
  }

  .content__title{
    font: bold 16px Georgia;
    text-align: center;
  }

  .content__letter-search-list{
    font: normal 10px/13px Times;
  }
}