.header {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 20px;
    width: 950px;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 90px;
}

.navigation__menu-line {
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.navigation__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.navigation__link {
    text-decoration: none;
    font: normal 15px Times;;
    font-size: 15px;
    line-height: 21px;
    /* padding: 8px 0; */
    color: black;
}