.header {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 20px;
    width: 950px;
    align-self: center;
}

@media screen and (max-width: 980px) {
    .header {
        width: 800px;
    }
  }
  
@media screen and (max-width: 840px) {
    .header {
        width: 716px;
    }
  }

@media screen and (max-width: 740px) {
    .header {
        width: 546px;
    }
  }

@media screen and (max-width: 580px) {
    .header {
        width: 401px;
    }
  }

  @media screen and (max-width: 420px) {
    .header {
        width: 324px;
    }
  }
  