.content__table{
  margin: 40px 0 0 0;
  padding: 0 0 0 15px;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.content__table-header{
  font: bold 17px/21px Times;
  margin: 4px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__table-name{
  text-align: left;
  position: relative;
}

.content__table-name:nth-of-type(1){
  width: 25%;
}

.content__table-name:nth-of-type(2){
  width: 17%;
}

.content__table-name:nth-of-type(3){
  text-align: right;
  width: 18%;
}

.content__table-name:nth-of-type(4){
  text-align: right;
  width: 19%;
}

.content__dash-long{
  margin: 40px 0 0 0;
  display: flex;
  justify-content: center;
}

.content__dash-image-long{
  object-fit: cover;
  max-width: 100%;
  box-sizing: border-box;
}

.content__table-letter{
  font: bold 32px Times;
  display: block;
  position: relative;
  top: 35px;
  right: 30px;
  text-decoration: none;
  color: #493C2F;
  align-self: flex-start;
}

.content__table-letter:hover{
  text-decoration: underline;
}

@media screen and (max-width: 980px) {
  .content__table-header {
    font: bold 15px/19px Times;
    width: 92%;
    margin: 0 40px 0 35px;
  }

  .content__table {
    padding:0;
    align-items: center;
  }

  .content__dash-image-long{
    width: 95%;
  }
}

@media screen and (max-width: 740px) {
  .content__table-header {
    font: bold 12px/15px Times;
    width: 92%;
    margin: 4px 25px 0 40px;
  }

  .content__table-letter{
    font: bold 28px Times;
    top: 30px;
  }

  .content__dash-long{
    margin: 30px 0 0 0;
  }
}

@media screen and (max-width: 580px) {
  .content__table-header {
    font: bold 8px/12px Times;
    width: 200px;
    justify-content: flex-start;
  }

  .content__table {
    padding: 0;
    margin: 20px 0 0 0;
  }

  .content__table-name {
    width: 1%;
    margin-right: 7px;
  }

  .content__table-letter{
    font: bold 24px Times;
    top: 24px;
  }

  .content__table-name:nth-of-type(2) {
    margin-right: 17px;
  }

  .content__table-name:nth-of-type(3) {
    text-align: center;
    margin-right: 15px;
  }

  .content__table-name:nth-of-type(4) {
    width: 2%;
  }

  .content__title {
    font: bold 14px Georgia;
}
}

@media screen and (max-width: 420px) {
  .content__table-header {
    font: bold 7px/9px Times;
    width: 165px;
    margin: 4px 30px 0 55px;
  }

  .content__table{
    margin: 20px 0 0 0;
    padding: 0;
  }

  .content__table-letter {
    font: bold 18px Times;
    top: 22px;
  }
  
  .content__table-name {
    margin-right: 3px;
  }

  .content__table-name:nth-of-type(1) {
    width: 24%;
  }

  .content__table-name:nth-of-type(2) {
    margin-right: 19px;
  }

  .content__table-name:nth-of-type(3) {
    margin-right: 6px;
    text-align: left;
  }
}

