.BY_112 {
  width: 16px; height: 10px;
  background: url("../../../assets/images/css_sprites.png") -46px -10px;
}

.CZ_203 {
  width: 15px; height: 10px;
  background: url("../../../assets/images/css_sprites.png") -46px -70px;
}

.LV_428 {
  width: 16px; height: 10px;
  background: url("../../../assets/images/css_sprites.png") -10px -10px;
}

.RS_688 {
  width: 15px; height: 10px;
  background: url("../../../assets/images/css_sprites.png") -81px -70px;
}

.UA_804 {
  width: 16px; height: 10px;
  background: url("../../../assets/images/css_sprites.png") -82px -40px;
}

.PL_616 {
  width: 16px; height: 10px;
  background: url("../../../assets/images/css_sprites.png") -10px -40px;
}

.UZ_860 {
  width: 16px; height: 10px;
  background: url("../../../assets/images/css_sprites.png") -10px -70px;
}

.GB_826 {
  width: 16px; height: 10px;
  background: url("../../../assets/images/css_sprites.png") -82px -10px;
}

.RU_843 {
  width: 16px; height: 10px;
  background: url("../../../assets/images/css_sprites.png") -46px -40px;
}